# ==========================================
# Carpetas y temporales de Visual Studio
# ==========================================
.vs/
Debug/
Release/
x64/
x86/
*.user
*.aps
*.idb
*.obj
*.pch
*.ipch
*.db
*.opendb
*.tlog
*.lastbuildstate
*.suo

# ==========================================
# Entregas
# ==========================================
# Permitir entrar a cualquier carpeta llamada "Entregables" y todo su contenido
!**/Entregables/
!**/Entregables/**